body {
    background-image: url("img/ophelia.jpg");
    height: 100%;
}

header {
    font-family: 'Cinzel', serif;
    color: lightcoral;
    font-size: 48px;
    text-align: center;
}

h1 {
    line-height: 25px;
}

main {
    font-family: 'Raleway', sans-serif;
    background-color: rgba(240, 128, 128, 0.65);
    text-align: center; 
    font-size: 18px;
    padding: 25px 50px;
    color: lightcyan;
}

footer {
    background-color: grey;
    font-family: 'Raleway', sans-serif;

}

#button-enter {
    color: red;
}