body {
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    color: #2E3D48;
    text-align: center;
    padding: 25px 55px;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 18px;
    color: #2E3D48;
    font-family: 'Major Mono Display', monospace;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-webkit-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-ms-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }
  
  @-o-keyframes "blink" {
    from, to {
      color: transparent;
    }
    50% {
      color: black;
    }
  }

  h1 {
    font-size: 122px;
    line-height: .25;
  }

  h2 {
    font-size: 36px;
  }

  button {
    padding: 15px 45px;
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    background-color: lightpink;
    border: none;
  }
  
  button:hover {
    padding: 15px 45px;
    font-family: 'Major Mono Display', monospace;
    font-size: 22px;
    background-color: lightcoral;
    border: none;
  }

  #results {
      font-size: 36px;
      color: lightpink;
  }

